<!-- <h1>{{title}}</h1> -->
<div class="Header">
  <div class="Header-links">
    <h2><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">home</a></h2>
  </div>
  <div class="Header-links">
    <h2><a routerLink="/active" routerLinkActive="active">active</a></h2>
  </div>
  <div class="Header-links">
    <h2><a routerLink="/deleted" routerLinkActive="active">deleted</a></h2>
  </div>
  <div class="Header-links">
  <h2><a routerLink="/manage" routerLinkActive="active">manage</a></h2>
  </div>
</div>
<div class="home-body" *ngIf="!hasRoute('active') && !hasRoute('deleted') && !hasRoute('manage')">
  <h1>User Management</h1>
  <h4>Welcome to user Management</h4>
</div>

<router-outlet></router-outlet>